body {
    background-color: lightGray
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: #f1f1f1;
    color: #ccc;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}