<!DOCTYPE HTML>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>XIssueTracker : Users</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        </head>
<body>
<h1>X Issue Tracker : User List</h1>
<table border="1">
    <thead>
    <tr>
        <th><b>ID</b></th>
        <th><b>First Name</b></th>
        <th><b>Last Name</b></th>
        <th><b>Email</b></th>
        <th><b>Password</b></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}" />
        <td th:text="${user.firstName}" />
        <td th:text="${user.lastName}"</td>
        <td th:text="${user.email}" />
        <td th:text="${user.password}" />
    </tr>
    </tbody>
</table>
<div>
    <p>
        <a th:href="@{/}" th:text="Home" />
    </p>
</div>
</body>
</html>